@inherits LayoutComponentBase
@inject IJSRuntime JS

@* Wrapper chính của Template *@
<div class="wrapper" >
    
    @* 1. NHÚNG THANH ĐIỀU HƯỚNG *@
    <Nav />

    @* 2. PHẦN NỘI DUNG CHÍNH (MAIN CONTENT) *@
    <div class="main" id="main">
        
        @* @Body là nơi Home.razor sẽ được đặt vào *@
        @Body 
        
    </div>

    @* 3. NHÚNG FOOTER *@
    <Footer />
    
    @* 4. NHÚNG NÚT SCROLL TO TOP *@
    <ScrollToTop />

</div>

@code {
    
}